<html>
    <head>
      <title>Liste over kameras</title>
      <% include partials/head %>
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
      <script src="/todo.js"></script>   
    </head>
    <body>
        <% include partials/menu %>
        <h2>Liste over <%= kameras.length %>  kamera og deres status</h2><br>
        <table>                
            <tr><p> <h3>
                <th>Navn</th>
                <th>Sted</th>
                </h3></p>
            </tr>
           
                <% for(var i=0; i < kameras.length; i++){ %>
                <tr>
                    <td><p> <h3><a href="/cam/<%= kameras[i].kameranavn %>">  <%= kameras[i].kameranavn %></a></h3><br>    
                                
                    Plassering <b><%= kameras[i].lokasjon %></td></p>
                    <td>
                        <% if(kameras[i].aktiv){ %>
                            <iframe width="320" height="240" src=" <%= kameras[i].stream %> "" frameborder="0" ></iframe>
                            <% }
                    } %>
                    </td>
                </tr>   
        </table>
    </body>
</html>
